_site
.sass-cache
.DS_Store
.jekyll
.jekyll-cache
.bundle
node_modules
*.bat
.jekyll-metadata
/_drafts
_sass/.scss-lint.yml
*.log
*.iml
.idea
.directory
deploy_key.pub
.resources
/resources
/build
npm-debug.log*
