---
sidebar: true
---
{% extends "./default.njk" %}

{% set curr = pages|match("ord", ord) %}
{% set title = curr.title %}

{% block main %}
  {% if curr.date %}<time datetime="{{ curr.date | UTCdate }}">{{ curr.date | blogDate }}</time>{% endif %}
  <h1>{{ curr.title }}</h1>
  {{ contents | safe }}
{% endblock %}
