{% extends "./default.njk" %}

{% block custom_head %}
<style>
  picture, img {
    max-width: 426px;
    width:100%
  }
</style>
<link rel="stylesheet" href="{{rootPath}}css/haps.css">
{% endblock %}

{% block main %}
  <h1>{{ title }}</h1>
  {{ contents | safe }}
{% endblock %}
