{% extends "./page.njk" %}

{% block custom_head %}
<script defer src="{{ rootPath }}js/gravity-memory/.libs/matter.min.js"></script>
<script defer src="{{ rootPath }}js/gravity-memory/utils.js"></script>
<script defer src="{{ rootPath }}js/gravity-memory/main.js"></script>
{% endblock %}
