{% extends "./page.njk" %}

{% block custom_head %}
<script defer src="{{ rootPath }}js/hang-rep-max/formulas.js"></script>
<script defer src="{{ rootPath }}js/hang-rep-max/main.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<link rel="stylesheet" href="{{ rootPath }}css/one-rep-max.css">
{% endblock %}
