{% extends "./proj.njk" %}

{% block custom_head %}
<script defer src="{{rootPath}}js/hang-edge-calc/math.min.js"></script>
<script defer src="{{rootPath}}js/hang-edge-calc/formulas.js"></script>
<script defer src="{{rootPath}}js/hang-edge-calc/main.js"></script>

<link rel="stylesheet" href="{{rootPath}}css/one-rep-max.css">
{% endblock %}
