{% extends "./post.njk" %}

{% block custom_head %}
<script>
  MathJax = {
    chtml: {
      displayAlign: 'left',
      displayIndent: '1em'
    }
  };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<style>
.container {
  max-width: none;
}
.content  p,form,h1,h2,blockquote,ol,ul,input,label {
  max-width: 45rem;
}
table {
  margin: 0rem 0rem 0.5rem;
  border-collapse: collapse;
}
th {
  border-bottom: solid #fff;
}
td, th {
  padding: 0rem 1rem;
  text-align: center;
}
tr:nth-child(even) {
  background: #3e3e3e
}
.overflow-container {
  max-width: 100%;
  overflow-x: auto;
}
</style>
{% endblock %}
