{% extends "./templates/default.njk" %}

{% block main %}
<a href="{{rootPath}}feed">RSS</a>
<ul style="padding-left:0; line-height:2;">

{% for page in collections.pages %}
  {# | sort(true, false, 'created') %} #}
  <li>
    <a
      {% if page.url %} href="{{ page.url }}"
      {%else%} href="{{ page.path }}" {% endif %}>
        {{ page.title }}</a> -
    <time datetime="{{ page.created | UTCdate }}">{{ page.created | blogDate }}</time>
    <p style="font-style:oblique; margin:0rem; width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;"><small>{{ page.excerpt.text }}</small></p>
  </li>
{% endfor %}
</ul>
{% endblock %}
