{% extends "./default.njk" %}

{% block main %}
<a href="{{rootPath}}feed">RSS</a>
<ul style="padding-left:0; line-height:2;">

{% for page in pages | sort(true, false, 'date') %}
  <li>
    <a {% if page.url %} href="{{ page.url }}"
    {%else%} href="{{ page.path }}" {% endif %}>
        {{ page.title }}
    </a> -
    <time datetime="{{ page.date | UTCdate }}">{{ page.date | blogDate }}</time>
  </li>
{% endfor %}
</ul>
{% endblock %}
