{% extends "./templates/default.njk" %}

{% block main %}
  published <time datetime="{{ created | UTCdate }}">{{ created | blogDate }}</time>{% if modified %}; last updated <time datetime="{{ updated | UTCdate }}">{{ updated | blogDate }}</time>{% endif %}
  <h1>{{ title }}</h1>
  {{ contents | safe }}
{% endblock %}
