{% extends "./templates/default.njk" %}

{% block custom_head %}
<style>
  .container, .content { 
    max-width:90%;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  li {
    display:inline-block;
    list-style-type: none;
    max-width: 25rem;
    border: solid thin white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  ul.links li {
    border: none;
  }
  
  h3 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
  }
</style>
{% endblock %}

{% block main %}
  {% macro projlist(val) %}
    {% for proj in projs|filter("status", val) %}
      <li>
        <h3>{% if proj.live %}<a href="{{ proj.live }}">{{ proj.title }}</a>{% else %}{{ proj.title }}{% endif %}</h3>
          <ul class="links">
            {% if proj.writeup %}<li><a href="{{ proj.writeup }}">writeup</a></li>{% endif %} 
            {% if proj.repo %}<li><a href="{{proj.repo}}">repo</a></li>{% endif %}
          </ul>
          <p>{{ proj.descr }}</p>
      </li>
    {% endfor %}
  {% endmacro %}

  <h1>Projects</h1>
  {% if projs|filter("status", "live")|length > 0 %}
    <ul class="live">
      {{ projlist("live") }}
    </ul>
  {% endif %}
{% endblock %}
