{% extends "./page.njk" %}

{% block custom_head %}
<script defer src="{{ rootPath }}js/time-zones/zones.js"></script>
<script defer src="{{ rootPath }}js/time-zones/main.js"></script>
{% endblock %}
