.sidebar h1{
  line-height:1.6;
  font-size:1rem;
  margin:0;
}
.sidebar {
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
  /* background-color: #38204b; sidebar purple */
  background-color: #2c2c2c;
}
.sidebar a {
  font-weight: normal;
  color: #fff;
}
.sidebar a:active, .sidebar a:hover {
  background-color: #fff;
  /* color: #38204b; sidebar purple */
  color: #2c2c2c;
}
.sidebar-nav-item {
  display: inline-block;
  margin-right: 0.5rem;
}

@media (min-width: 70em) {
  .sidebar h1 {
    margin:0 0 0.5rem 0;
  }
  .content {
    max-width: 35rem;
    margin-left: 21%;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 18rem;
    width: 20%;
    font-size: 1.5rem;
    padding: 2rem;
  }
  .sidebar-nav-item {
    display: block;
    margin: 0;
  }
}
@media (min-width: 90em) {
  .content {
    margin-left: 18.9rem;
  }
}
