* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 1rem;
}

body {
  background-color: #121212;
  color: #fff;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.content a:link {
  color: #fff;
  border-bottom: 0.1em solid;
}

.content a:visited {
  color: #b3b3b3;
}

.content a:hover,
.content a:active {
  color: #121212;
  background-color: #fff;
}

.content a:visited:hover,
.content a:visited:active {
  color: #121212;
  background-color: #b3b3b3;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: #fff;
  border-left: 0.25rem solid #e5e5e5;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.container {
  max-width: 35rem;
  padding: 1.5rem 2rem 4rem;
  margin-left: auto;
  margin-right: auto;
}

.content > :first-child {
  margin-top: 0;
}

.image {
  width: 35rem;
  max-width: 100%;
}
