<header class="sidebar">
    <h1>Domonic Milesi</h1>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ rootPath }}index">Home</a>
      <a class="sidebar-nav-item" href="{{ rootPath }}projects">Projects</a>
      <a class="sidebar-nav-item" href="{{ rootPath }}about">About</a>
    </nav>
</header>
